body {
    background: linear-gradient(120deg, #1a2a6c, #b21f1f, #fdbb2d);
    font-family: Arial, sans-serif;
}

.container {
    background: rgba(0,0,0,0.8);
    padding: 30px;
    width: 400px;
    margin: 80px auto;
    border-radius: 15px;
    text-align: center;
    color: white;
    box-shadow: 0 0 25px #00ffff;
}

input {
    width: 90%;
    padding: 10px;
    margin: 8px;
    border-radius: 8px;
    border: none;
}

button {
    background: #00ffff;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 0 15px #00ffff;
}

button:hover {
    background: white;
    box-shadow: 0 0 25px white;
}
